{
  "presets": [
    "react-native"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    },
    "test": {
      "plugins": [
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
            "@actions": "./src/core/actions",
            "@reducers": "./src/core/reducers",
            "@i18n": "./src/i18n",
            "@fixtures":  "./src/fixtures",
            "@sagas": "./src/core/sagas",
            "@components": "./src/views/components",
            "@themes": "./src/views/themes",
            "@compositions": "./src/views/compositions",
            "@services": "./src/core/services",
            "@containers": "./src/views/containers"
          }
        }],
        "transform-regenerator",
        "transform-runtime"
      ]
    }
  }
}
